
.countriesList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

button.itemCountries {
  display: flex;
  align-items: center;
  /* width: 200px; */
  height: 30px;
}

button.itemCountries:hover {
  background: #ccc;
}

button.itemCountries.clicked-country , button.itemLeague.clicked-league {
  background: blue;
  color: #fff;
}

.country_name {
  display: none;
}

.leaguesList {
  display: flex;
  flex-direction: column;
}

.team_home {
  
}

.event_live  .club_icon {
  width: 35px;
}


.league_logo {
  width: 20px;
}

.country_flag {
  width: 20px;
  /* margin-right: 10px; */
}

.timeline_wrapper {
  position: relative;
  background: #ccc;
}

.timeline {
  width: 280px;
  display: flex;
  flex-direction: column;
}

.timeline:after{
  content: '';
  border-right: 2px solid #000;
  position: absolute;
  left: 140px;
  height: 100%;
}


.timeline .right {
  align-self: flex-end;
  width: 135px;
}


.color_row {
  background-color: aqua;
}