


.team_home {
  
}

.event_live  .club_icon {
  width: 35px;
}


.league_logo {
  width: 20px;
}

.country_flag {
  width: 20px;
}

.timeline_wrapper {
  position: relative;
  background: #ccc;
}

.timeline {
  width: 280px;
  display: flex;
  flex-direction: column;
}

.timeline:after{
  content: '';
  border-right: 2px solid #000;
  position: absolute;
  left: 140px;
  height: 100%;
}


.timeline .right {
  align-self: flex-end;
  width: 135px;
}


.color_row {
  background-color: aqua;
}